.site-title{
  background-image: linear-gradient(
    to right,
    orangered,
    orange,
    gold,
    lightgreen,
    cyan,
    dodgerblue,
    mediumpurple,
    hotpink,
    orangered
  );
  background-size: 110vw;
  -webkit-background-clip: text;
  color: rgba(0,0,0,0.1); /* transparent IE 不支持 */
  animation: sliding 30s linear infinite;
}
@keyframes sliding{
  to{
    background-position:  -2000vw;
  }
}

.site-meta,
.site-subtitle {
  color: rgba(0,0,0,0.1); /* transparent IE 不支持 */
  animation: hue 1.5s linear infinite;
  background-image: linear-gradient(to right bottom, rgb(255,0,0), rgb(255,128,0), rgb(255,255,0), rgb(0,255,0), rgb(0,255,128), rgb(0,255,255), rgb(0,128,255), rgb(0,0,255), rgb(128,0,255), rgb(255,0,255), rgb(255,0,128));
  -webkit-background-clip: text;
}
@keyframes hue {
  from {
      filter: hue-rotate(0);
  }
  to {
      filter: hue-rotate(-360deg);
  }
}

.site-meta{
  background: #ecf9f8;
  +mobile(){
    padding: 10px 0;
    background-image: linear-gradient(90deg,#f79533 0,#f37055 15%,#ef4e7b 30%,#a166ab 44%,#5073b8 58%,#1098ad 72%,#07b39b 86%,#6dba82 100%)!important;
  }
}

//博客背景图
body {
    background:url(/images/background/8.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed; //不重复
    background-size: cover;      //填充
    background-position:50% 50%;
}

//博客内容透明化
//文章内容的透明度设置
.content-wrap {
  opacity: 0.9;
}

//侧边框的透明度设置
.sidebar {
  opacity: 0.8;
}

//菜单栏的透明度设置
.header-inner {
  background: rgba(255,255,255,0.6);
}

//搜索框（local-search）的透明度设置
.popup {
  opacity: 0.6;
}

//边框圆角
.sidebar {
  background: transparent;
}
.back-to-top.back-to-top-on {
  background: transparent;
}